<table class="table__container">
  <th>Name</th>
  <th>Project</th>
  <th>D.O.J</th>
  <th>Image</th>
  <th>Edit</th>
  <th>Delete</th>
  <tr *ngFor="let employee of allEmployees">
    <td>{{ employee.empName }}</td>
    <td>{{ employee.empProject }}</td>
    <td>{{ employee.empDOJ }}</td>
    <td><img src="{{ employee.empImage }}" alt="employee" /></td>
    <td>
      <button class="emp__table_btn">
        <i class="bi bi-pencil-square" ></i>
      </button>
    </td>
    <td>
      <button class="emp__table_btn">
        <i class="bi bi-trash"></i>
      </button>
    </td>
  </tr>
</table>
